p{
 
    font-size: 0.875rem; 
    font-weight: 300;
    padding-left: 15px;
}


h1 {

    font-family: Forte;
}


h3 {

    font-size: 1em;
    font-weight: bold;
    padding-left: 15px;
}


strong {

    position: absolute;
    right: 80px;
    
    }


.logo {
    
    text-align:center;

    img {
        width: 200px;
    }

}

.pb {

    text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
  border-top: solid;
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  i { 
      margin-right: 10px;

  }

}

.pic {

    img {

        width: 400px;
        height: 290px;
        object-fit: cover;
    }


}


.containera {

    position: relative;
top: -50px;
width : 400px;
height: 1200px;
border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f6f6f6;
}

.titrea{

display: flex;
flex-direction: row;


.fas {

    display: flex;
    font-size: 25px;
    justify-content: flex-end;
  position: absolute;
   top: 30px;
   right: 40px;

.fas:hover {

color: #bc80ea;


i{

padding-left: 70px;
padding-top: 33px;
position: absolute;
top : 100px;
}
}
}  

}

.reservez {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align:justify;
    text-align-last: center;
    margin: auto;
padding-top: 10px;
  padding-bottom: 20px;
    background-color: #f6f6f6;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



} 




.myButton {
	box-shadow:inset 0px 0px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #ba1e96 5%, #bc80ea 100%);
	background-color:#ba1e96;
	border-radius:22px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #632e8f;
    margin-bottom: 20px;

.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #ba1e96 100%);
	background-color:#bc80ea;

.myButton:active {
	position:relative;
	top:1px;

}

}

}





.button2 {
background-color: #f6f6f6;

}


.containerf {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f6f6f6;





.box {

    display: flex;
    flex-flow: column wrap;



    .box_fct {

        display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    margin-left:10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-right: 120px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    box-shadow: -3px 7px 12px 4px rgba(204,189,189,0.84);
   -webkit-box-shadow: -3px 7px 12px 4px rgba(204,189,189,0.84);
    -moz-box-shadow: -3px 7px 12px 4px rgba(204,189,189,0.84);
   line-height: 8px;
    height: 65px;

    .logo_fct {

        display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0625rem;
    color: grey;
    font-size: 1.25rem;
    
    width: 1.25rem;
    height: 1.25rem;
    border: none;




    .option {

      

       

        p {

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           font-size: 10px;
        line-height: 1px;

    }
    }
    }
    }
}
  }



.box:hover {
    
   
       

}

    .fade-in-text {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.875rem;
        color: black;
        animation-name: topfadein linear 2s;
        -webkit-animation: topfadeIn linear 2s;
        -moz-animation: topfadeIn linear 2s;
        -o-animation: topfadeIn linear 2s;
        -ms-animation: topfadeIn linear 2s;


       
        
     
    .icon {

      width: 70px ;
      height: 75px;
   background-color: lightgreen ;
   display: flex;
    justify-content: center;
    -webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  position: absolute;
right: 10px;
animation-play-state: paused;
border-radius: 20px;
opacity: 0;

        i {

            padding-top:10px;
            margin-bottom: 5px;
            color: white;
            font-size: 40px;
            -webkit-animation: rotate-center 1s ease-in-out both;
	        animation: rotate-center 1s ease-in-out both;
            display: flex;
justify-items: flex-end;
animation-play-state: paused;
opacity: 0;
        

}}}



    .icon:hover {
  
        animation-play-state: running;
    opacity: 1;


    i:hover {

        animation-play-state: running;
        opacity: 1;

    }
    }
    
   


    @-webkit-keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
      

      
    @-webkit-keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
        }
      }
      @keyframes slide-left {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
        }
      }
    
        
      
      @keyframes topfadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes topfadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes topfadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes topfadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-ms-keyframes topfadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }



      

      
.box_fct:hover {

	background-color:#f5edff;
}



.Resto {


    background-color: #F6F6F6;
    padding-top: 10px;
    margin-top: 20px;

.container-restaurant {


    display: flex;
    flex-wrap: wrap;
    

    article {
        border-radius: 20px;
        margin: 1rem;
        background-color: white;
        
        
    
    img {
        width: 100%;
        height: 160px;
        border-radius: 25px 25px 0 0;
        object-fit:cover;


        
    }
      }

    }
}

.far,  .fa-heart {

    display: flex;
    justify-content: flex-end;
    font-size: 25px;
   

    
   
}

.far:hover,  .fa-heart:hover {

    
	color:#bc80ea;
    
cursor: pointer;

}





.texte {

    margin-left: 13px;
height: 100px;

    .far  {

display: flex;
margin-right: 30px;

}

}



.button2 { 

display: flex;
justify-content: center;
}

footer {

    background-color: #353535;

height: 200px;

 img {
padding-top: 20px;
    width: 100px;
    padding-left: 20px;
   
}



}

figure {

    display: block;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;




    
figcaption{

display: inline-block; 
color: #008766;
background-color: #99e2d0;
position: absolute;
left: 300px;
padding: 5px;

}
}



footer li a{

        text-decoration: none;
        color: white;
      
}

footer section li {
    list-style-type: none;
}


image {

position: relative;

}

