html {
    font-family: 'shrikhand';
}

@font-face {
    font-family: 'shrikhand';
    src: url('Shrikhand-Regular.ttf');
}

$white:#ffffff;
$lightgrey:#f6f6f6;
p {
    font-size: 0.875rem;
    font-weight: 300;
}

h1 {
    font-family: 'shrikhand';
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

strong {
    position: absolute;
    right: 20px;
}

body {
    background-color: $lightgrey;
}

.bodyindex {
    background-color: $white;
}

.header__heading {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    img {
        width: 200px;
        height: auto;
    }
}

.header__heading i {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 20px;
}

.header__location {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
    border-top: solid;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    i {
        margin-right: 10px;
    }
}

.header__classpic {
    img {
        width: 400px;
        height: 291px;
        object-fit: cover;
    }
}

.menu {
    position: relative;
    top: -50px;
    width: 400px;
    height: 1200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $lightgrey;
    &__heading {
        display: flex;
        flex-direction: row;
        h1 {
            margin-left: 20px;
            .fas {
                display: flex;
                font-size: 25px;
                justify-content: flex-end;
                position: absolute;
                top: 30px;
                right: 40px;
                &__.fas:hover {
                    color: #bc80ea;
                    cursor: pointer;
                }
            }
        }
    }
    &__heading i {
        position: absolute;
        top: 30px;
        right: 60px;
    }
    &__heart {
        display: flex;
        flex-direction: column;
    }
    &__heart i {
        position: absolute;
        right: -100px;
        margin-top: 5px;
        font-size: 25px;
    }
    &__heart {
        position: relative;
    }
    &__heart .fas {
        opacity: 0;
        background: linear-gradient(#f81111, #8a1717);
        -webkit-background-clip: text;
        color: transparent;
        transition: 1s;
        font-size: 25px;
    }
    &__heart:hover .fas {
        opacity: 1;
        font-size: 25px;
    }
    &__choice {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: $lightgrey;
        p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h2 {
            margin-left: 10px;
        }
        article {
            margin-left: 5px;
            ;
            width: 90%;
        }
    }
    & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & article {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        width: 95%;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 5px;
        background-color: $white;
        box-shadow: 0 0 2px #c3c3c3;
    }
    &__note {
        animation-name: topfadein linear 2s;
        -webkit-animation: topfadeIn linear 2s;
        -moz-animation: topfadeIn linear 2s;
        -o-animation: topfadeIn linear 2s;
        -ms-animation: topfadeIn linear 2s;
    }
    &__fct {
        display: flex;
        flex-direction: row;
        background-color: #F2F2F2;
        border-radius: 20px;
        color: black;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 5px 15px 0 #c3c3c3;
        font-weight: bold;
        border: #c3c3c3;
        height: 45px;
        width: 90%;
    }
    &__fct:hover {
        background-color: #f5edff;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &__option {
        position: relative;
        top: -10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.875rem;
    }
    &__icon {
        display: none;
        color: $white;
    }
    &__icon i {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-animation: rotate-center 0.6s ease-in-out both;
        animation: rotate-center 0.6s ease-in-out both;
    }
    &__icon i:hover {
        transition-duration: 1s;
        transition-timing-function: ease;
        -webkit-animation: rotate-center 0.6s ease-in-out both;
        animation: rotate-center 0.6s ease-in-out both;
    }
    article:hover .menu__icon {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #99E2D0;
        border-radius: 1px 20px 20px 1px;
        animation-direction: reverse;
        animation-duration: 2s;
        animation-name: glissement;
        opacity: 1;
        animation: tt-expand 1.5s ease both;
    }
    &__button {
        box-shadow: inset 0px 0px 0px 0px #efdcfb;
        background: linear-gradient(to bottom, #ba1e96 5%, #bc80ea 100%);
        border-radius: 22px;
        border: 1px solid #c584f3;
        cursor: pointer;
        color: $white;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 12px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #632e8f;
        background-color: $lightgrey;
        display: flex;
        justify-content: center;
        margin-left: 90px;
        margin-bottom: 30px;
        margin-top: 20px;
        width: 40%;
    }
    &__button:active {
        position: relative;
        top: 1px;
    }
    &__button:hover {
        background: linear-gradient(to bottom, #bc80ea 5%, #ba1e96 100%);
        background-color: #bc80ea;
    }
}

@-webkit-keyframes menu__icon {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes glissement {
    from {
        margin-right: 5%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes tt-expand {
    0% {
        width: 0;
        right: 65px;
    }
    100% {
        width: 55px;
        right: 10px;
    }
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: $lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    h2 {
        width: 250px;
        text-align: center;
    }
    &__button {
        box-shadow: inset 0px 0px 0px 0px #efdcfb;
        background: linear-gradient(to bottom, #ba1e96 5%, #bc80ea 100%);
        background-color: #ba1e96;
        border-radius: 22px;
        border: 1px solid #c584f3;
        display: inline-block;
        cursor: pointer;
        color: $white;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 12px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #632e8f;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__button:active {
        position: relative;
        top: 1px;
    }
    &__button:hover {
        background: linear-gradient(to bottom, #bc80ea 5%, #ba1e96 100%);
        background-color: #bc80ea;
    }
}

.steps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $white;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    &__box {
        margin-left: 15px;
    }
    &__fcta {
        display: flex;
        flex-direction: row;
        background-color: #F2F2F2;
        border-radius: 25px;
        color: black;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px 12px 2px;
        cursor: pointer;
        box-shadow: 0 5px 5px 0 #c3c3c3;
        font-weight: bold;
        border: #c3c3c3;
        height: 40px;
        width: 80%;
    }
    &__option {
        text-align: center;
    }
    &__cercle {
        position: absolute;
        left: 25px;
        background: #9356dc;
        border-radius: 100%;
        color: $white;
        height: 25px;
        width: 10px;
        line-height: 1.67;
        padding: 2px 10px;
        font-weight: bold;
    }
    &__logo {
        display: flex;
        justify-content: left;
        position: relative;
        right: -35px;
        bottom: -15px;
    }
    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h2 {
        margin-left: 10px;
    }
}

section h2:after {
    content: "";
    height: 4px;
    width: 22%;
    background: #99E2D0;
    display: block;
}

@keyframes topfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes topfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes topfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes topfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes topfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.restaurant-choice {
    padding-top: 5px;
    padding-bottom: 40px;
    background-color: $lightgrey;
    & h2 {
        margin-left: 15px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        article {
            border-radius: 20px;
            width: 340px;
            margin: 1rem;
            background-color: $white;
            img {
                width: 100%;
                height: 160px;
                border-radius: 25px 25px 0 0;
                object-fit: cover;
            }
        }
    }
    &__texte {
        height: 60px;
        h3,
        p {
            margin-left: 10px;
            .far {
                display: flex;
                position: absolute;
                right: 20px;
            }
        }
    }
    &__img-btn-left {
        position: absolute;
        right: 70px;
        background: #99e2d0;
        color: #2c9c81;
        margin-top: 10px;
        padding: 3px 10px;
        font-weight: bold;
    }
    &__heart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    &__heart .fas {
        opacity: 0;
        background: linear-gradient(#f81111, #8a1717);
        -webkit-background-clip: text;
        color: transparent;
        transition: 1s;
    }
    &__heart:hover .fas {
        opacity: 1;
    }
    &__heart i {
        position: relative;
        left: -30px;
        top: -30px;
        position: absolute;
        right: 20px;
    }
}

.far,
.fa-heart {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.far:hover,
.fa-heart:hover {
    color: #bc80ea;
    cursor: pointer;
}

footer {
    background-color: #353535;
    height: 200px;
    width: 400px;
    margin-top: 40px;
    img {
        padding-top: 20px;
        width: 100px;
        padding-left: 20px;
    }
}

footer li a {
    text-decoration: none;
    color: $white;
}

footer section li {
    list-style-type: none;
}

.footerindex {
    margin-top: 0px;
}

.spinloader {
    animation: spinloader 3s;
    animation-delay: 1s;
    animation-fill-mode: both;
    background: rgba(10, 10, 10, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 999;
}

.spinloader::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.loader::before {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ff79da;
}

.loader::after {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ff79da;
}

.loader {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border: 4px solid transparent;
    border-top-color: #ff79da;
    animation: loader 2s infinite;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
}

.loader::before {
    content: "";
    animation: loader 2s infinite;
}

.loader::after {
    content: "";
    animation: loader 2s infinite;
}

.loader__cover {
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.loader__bar {
    animation: loader 2s infinite;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
}

@keyframes spinloader {
    100% {
        opacity: 0;
        z-index: -10;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 280px) {
    .logo_fct {
        position: relative;
        right: -1px;
    }
}

@media screen and (min-width: 320px) {
    .logo_fct .fa,
    .fas {
        position: relative;
        left: -15px;
    }
}

@media screen and (min-width: 410px) {
    .img-btn-left {
        position: absolute;
        right: 70px;
    }
}

@media screen and (min-width: 540px) {
    .booking {
        display: flex;
        flex-direction: column;
    }
    .cercle {
        position: absolute;
        left: 0px;
    }
    .img-btn-left {
        margin-right: 60px;
    }
    .restaurants {
        margin-left: 60px;
    }
    footer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: $white;
    }
    .header__heading img {
        width: 50%;
        height: auto;
    }
    .header__img {
        width: 100%;
        height: 290px;
        object-fit: cover;
    }
    .menu {
        background-color: $white;
        width: 100%;
    }
    .menu article {
        margin-left: 50px;
        width: 80%;
    }
    .pb {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 23px;
        font-weight: bold;
    }
    .booking {
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }
    .booking h2 {
        font-size: 35px;
    }
    .mybutton {
        font-size: 25px;
    }
    .booking p {
        font-size: 25px;
    }
    .steps {
        background-color: $white;
    }
    .Resto {
        background-color: $white;
        margin-top: 0px;
        padding-top: 20px;
    }
    .box_fcta {
        margin-bottom: 10px;
        font-size: 22px;
        height: 60px;
    }
    .cercle {
        position: absolute;
        left: 0px;
        line-height: 1;
    }
    .steps h2 {
        margin-left: 50px;
    }
    .restaurants h2 {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-block-start: 0px;
    }
    .box_fct {
        width: 90%;
    }
    .container-restaurant {
        flex-direction: column;
        margin-left: 130px;
        margin-top: 20px;
    }
    .container-restaurant article {
        box-shadow: 0 5px 15px 0 #c3c3c3;
    }
    .texte h3,
    .texte p {
        font-size: 16px;
    }
    .img-btn-left {
        margin-right: 150px;
    }
    .button2 {
        background-color: $white;
    }
    footer {
        width: 100%;
    }
    .heart2 i {
        position: absolute;
        right: -400px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: $white;
    }
    .heart2 i {
        font-size: 40px;
        padding-top: 10px;
        position: absolute;
        right: -500px;
    }
    .heart2:hover .fas {
        font-size: 40px;
    }
    .containera .titrea h1 {
        margin-left: 25px;
    }
    h1 {
        display: block;
        font-size: 45px;
    }
    .note {
        display: flex;
        flex-wrap: wrap;
    }
    .containera {
        height: 1000px;
        background-color: $white;
    }
    .restaurant-choice {
        background-color: $white;
        margin-left: 30px;
    }
    .cercle {
        position: absolute;
        left: 20px;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        padding: 0px;
        width: 100%;
        z-index: 1;
    }
    .containera article {
        width: 42%;
    }
    .container-restaurant {
        margin-left: 240px;
    }
    .img-btn-left {
        margin-right: 310px;
    }
    .button2 {
        background-color: $white;
    }
    .myButton {
        background-color: $white;
    }
    footer {
        margin-top: 30px;
    }
}